<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h3 class="title is-3">Création d'un compte utilisateur</h3>
        <div class="field">
          <label class="label">Prénom*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('prenom')}"  formControlName="prenom" type="text" placeholder="prénom">
            <edsr-display-errors [control]="signUpForm.get('prenom')" [validationMessages]="signUpValidationMessage.prenom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <label class="label">Nom*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('nom')}" formControlName="nom" type="text" placeholder="nom">
            <edsr-display-errors [control]="signUpForm.get('nom')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <label class="label">Date de naissance*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('dateDeNaissance')}" formControlName="dateDeNaissance" type="date" placeholder="xx/xx/xxxx">
            <edsr-display-errors [control]="signUpForm.get('dateDeNaissance')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <label class="label">Email*</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('email')}" formControlName="email" type="email" placeholder="Email input" value="hello@">
            <span class="icon is-small is-left">
              <fa-icon icon="envelope"></fa-icon>
            </span>
            <span class="icon is-small is-right">
              <fa-icon icon="exclamation-triangle"></fa-icon>
            </span>
          </div>
          <edsr-display-errors [control]="signUpForm.get('email')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
        </div>

        <div class="field">
          <label class="label">Marque de la moto*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('marqueMoto')}" formControlName="marqueMoto" type="text" placeholder="Marque de la moto">
            <edsr-display-errors [control]="signUpForm.get('marqueMoto')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <label class="label">Modèle de la moto*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('modeleMoto')}" formControlName="modeleMoto" type="text" placeholder="Modèle de la moto">
            <edsr-display-errors [control]="signUpForm.get('modeleMoto')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <label class="label">Immatriculation*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('immatriculationMoto')}" formControlName="immatriculationMoto" type="text" placeholder="Immatriculation">
            <edsr-display-errors [control]="signUpForm.get('immatriculationMoto')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <label class="label">Date d'obtention du permis A*</label>
          <div class="control">
            <input class="input" [ngClass]="{'is-danger' : shouldDisplayErrors('datePermis')}" formControlName="datePermis" type="text" placeholder="Date d'obtention du permis A">
            <edsr-display-errors [control]="signUpForm.get('datePermis')" [validationMessages]="signUpValidationMessage.nom"></edsr-display-errors>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="activerNotification">
              Activer les notifications par email
            </label>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Valider</button>
          </div>
          <div class="control">
            <button type="button" class="button is-text">Annuler</button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
</section>
