<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <strong>EDSR</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
       [ngClass]="{'is-active' : isBurgerClicked }" (click)="onClickBurger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active' : isBurgerClicked }">
    <div class="navbar-start">
      <a routerLink="/evenements" class="navbar-item">
        Liste des événements
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a routerLink="/inscription" class="button is-primary">
          <strong>S'inscrire</strong>
        </a>
      </div>
      <div class="navbar-item">
        <a routerLink="/login" class="button is-light">
          Se connecter
        </a>
      </div>
      <a class="navbar-item" routerLink="/profil">
        <span class="icon is-right is-large">
          <fa-icon class="fas fa-3x" icon="user-circle"></fa-icon>
        </span>
      </a>
    </div>
  </div>
</nav>
