<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <strong>EDSR</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" [ngClass]="{'is-active' : isBurgerClicked }" (click)="onClickBurger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active' : isBurgerClicked }">
    <div class="navbar-start">
      <a class="navbar-item">
        Liste des événements
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a  routerLink="/inscription" class="button is-primary">
            <strong>S'inscrire</strong>
          </a>
          <a routerLink="/login" class="button is-light">
            Se connecter
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
