<section class="section">
  <h1 class="title is-1" style="text-align: center">Mon profil</h1>
  <div class="container">
    <h2 class="subtitle is-2">Mes informations personnelles</h2>
    <div class="columns is-centered box">
      <div class="column is-half has-text-centered">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Nom</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" disabled type="text" placeholder="e.g. Partnership opportunity">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Prenom</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" disabled placeholder="e.g. Partnership opportunity">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="column is-half has-text-centered">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Date de naissance</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" disabled placeholder="e.g. Partnership opportunity">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" disabled placeholder="e.g. Partnership opportunity">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <h2 class="subtitle is-2">Ma moto & mon permis</h2>
    <div class="columns is-centered box">
      <div class="column is-half has-text-centered">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Marque</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" disabled type="text" placeholder="e.g. Partnership opportunity">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Modèle</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" disabled placeholder="e.g. Partnership opportunity">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="column is-half has-text-centered">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Immatriculation</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" disabled placeholder="e.g. Partnership opportunity">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Date d'obtention du permis A</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" disabled placeholder="e.g. Partnership opportunity">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
