<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3" style="text-align: center">Connexion</h3>
        <div class="field">
          <label class="label">Adresse email</label>
          <div class="control">
            <input class="input" type="text" placeholder="email">
          </div>
        </div>

        <div class="field">
          <label class="label">Mot de passe</label>
          <div class="control">
            <input class="input" type="text" placeholder="mot de passe">
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Valider</button>
          </div>
          <div class="control">
            <button class="button is-text">Annuler</button>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field">
          <div class="control has-text-centered" >
            <button class="button is-rounded" >
              <span class="icon is-small">
              <fa-icon [icon]="['fab','google']"></fa-icon>
              </span>
              <span>Avec google</span>
            </button>
          </div>
        </div>

        <div class="field">
          <div class="control has-text-centered">
            <button class="button is-rounded">
              <span class="icon is-small">
              <fa-icon [icon]="['fab','facebook']"></fa-icon>
              </span>
              <span>Avec Facebook</span>
            </button>
          </div>
        </div>

        <div class="field">
          <div class="control has-text-centered">
            <button class="button is-rounded ">
              <span class="icon is-large">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
              </span>
              <span>Avec Twitter</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
