<section class="section">
  <div class="container">
    <h2 class="title is-2" style="text-align: center">Liste des évènements</h2>
    <div class="box">
      <h5 class="title is-5" style="text-align: center">Post permis A Amboise</h5>
      <div class="columns">
        <div class="column">
          <ul>
            <li>Date : 14 octobre à 14h00</li>
            <li>Lieu : Amboise</li>
          </ul>
        </div>
        <div class="column has-text-right">
            <button class="button is-primary" style="margin-right: .5rem;">S'inscrire</button>
            <button class="button is-warning">Annuler</button>
        </div>
      </div>

    </div>

    <div class="box">
      <h5 class="title is-5" style="text-align: center">Post permis A Amboise</h5>
      <div class="columns">
        <div class="column">
          <ul>
            <li>Date : 14 octobre à 14h00</li>
            <li>Lieu : Amboise</li>
          </ul>
        </div>
        <div class="column has-text-right">
          <button class="button is-primary" style="margin-right: .5rem;">S'inscrire</button>
          <button class="button is-warning">Annuler</button>
        </div>
      </div>

    </div>

    <div class="box">
      <h5 class="title is-5" style="text-align: center">Post permis A Amboise</h5>
      <div class="columns">
        <div class="column">
          <ul>
            <li>Date : 14 octobre à 14h00</li>
            <li>Lieu : Amboise</li>
          </ul>
        </div>
        <div class="column has-text-right">
          <button class="button is-primary" style="margin-right: .5rem;">S'inscrire</button>
          <button class="button is-warning">Annuler</button>
        </div>
      </div>

    </div>

    <div class="box">
      <h5 class="title is-5" style="text-align: center">Post permis A Amboise</h5>
      <div class="columns">
        <div class="column">
          <ul>
            <li>Date : 14 octobre à 14h00</li>
            <li>Lieu : Amboise</li>
          </ul>
        </div>
        <div class="column has-text-right">
          <button class="button is-primary" style="margin-right: .5rem;">S'inscrire</button>
          <button class="button is-warning">Annuler</button>
        </div>
      </div>

    </div>

  </div>
</section>
